/* This Is The Home Page Avatar. */
.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 110px;
    height: 110px;
    border-radius: 110%;
}

/* This Is The Home Page Background Image. */
body {
    background-image: url("../images/Website-Background.png");
    background-position: cover;
}